<mat-toolbar class="toolbar">
    <span><input type="text" placeholder="search" class="search"></span>
    <div class="icon">
        <img  width="24px" height="24px" src="../../../assets/black.png" alt="">
        <img  width="24px" height="24px" src="../../../assets/profile.png" alt="">

    </div>
</mat-toolbar>
<div class="main">
    <div class="templete">
        <div>
            <img class="img2"  src="../../../assets/usman-yousaf.jpg" alt="">
        </div>
        <div class="name">
            <span class="font">Dr.John</span>
        </div>
        <div class="name">
            <span class="font2">Dentist</span>
        </div>
        <div class="name">
            <img class="img" width="28px" height="28px" src="../../../assets/instagram.png" alt="">
            <img class="img" width="28px" height="28px" src="../../../assets/facebook.png" alt="">
            <img class="img" width="28px" height="28px" src="../../../assets/twitter.png" alt="">
        </div>
        <div class="name">
            <p class="font2">The Material Design specifications describe that toolbars can also have multiple rows</p>
        </div>
        <div class="name">
            <button class="button">View Profile</button>

        </div>

    </div>
    <div class="templete">
        <div>
            <img class="img2"  width="100%" height="340px" src="../../../assets/kevin-hart.jpg" alt="">
        </div>
        <div class="name">
            <span class="font">Dr.Benz</span>
        </div>
        <div class="name">
            <span class="font2">Dentist</span>
        </div>
        <div class="name">
            <img class="img" width="28px" height="28px" src="../../../assets/instagram.png" alt="">
            <img class="img" width="28px" height="28px" src="../../../assets/facebook.png" alt="">
            <img class="img" width="28px" height="28px" src="../../../assets/twitter.png" alt="">
        </div>
        <div class="name">
            <p class="font2">The Material Design specifications describe that toolbars can also have multiple rows</p>
        </div>
        <div class="name">
            <button class="button">View Profile</button>

        </div>

    </div>
    <div class="templete">
        <div>
            <img class="img2"  width="100%" height="340px" src="../../../assets/doctor1.jpg" alt="">
        </div>
        <div class="name">
            <span class="font">Dr.Ali</span>
        </div>
        <div class="name">
            <span class="font2">Dentist</span>
        </div>
        <div class="name">
            <img class="img" width="28px" height="28px" src="../../../assets/instagram.png" alt="">
            <img class="img" width="28px" height="28px" src="../../../assets/facebook.png" alt="">
            <img class="img" width="28px" height="28px" src="../../../assets/twitter.png" alt="">
        </div>
        <div class="name">
            <p class="font2">The Material Design specifications describe that toolbars can also have multiple rows</p>
        </div>
        <div class="name">
            <button class="button">View Profile</button>

        </div>

    </div>
    <div class="templete">
        <div>
            <img class="img2"  width="100%" height="340px" src="../../../assets/usman-yousaf.jpg" alt="">
        </div>
        <div class="name">
            <span class="font">Dr.Bheema</span>
        </div>
        <div class="name">
            <span class="font2">Dentist</span>
        </div>
        <div class="name">
            <img class="img" width="28px" height="28px" src="../../../assets/instagram.png" alt="">
            <img class="img" width="28px" height="28px" src="../../../assets/facebook.png" alt="">
            <img class="img" width="28px" height="28px" src="../../../assets/twitter.png" alt="">
        </div>
        <div class="name">
            <p class="font2">The Material Design specifications describe that toolbars can also have multiple rows</p>
        </div>
        <div class="name">
            <button class="button">View Profile</button>

        </div>

    </div>
    <div class="templete">
        <div>
            <img class="img2"  width="100%" height="340px" src="../../../assets/lisa-chavez.jpg" alt="">
        </div>
        <div class="name">
            <span class="font">Dr.Shama</span>
        </div>
        <div class="name">
            <span class="font2">Dentist</span>
        </div>
        <div class="name">
            <img class="img" width="28px" height="28px" src="../../../assets/instagram.png" alt="">
            <img class="img" width="28px" height="28px" src="../../../assets/facebook.png" alt="">
            <img class="img" width="28px" height="28px" src="../../../assets/twitter.png" alt="">
        </div>
        <div class="name">
            <p class="font2">The Material Design specifications describe that toolbars can also have multiple rows</p>
        </div>
        <div class="name">
            <button class="button">View Profile</button>

        </div>

    </div>
    <div class="templete">
        <div>
            <img class="img2"  width="100%" height="340px" src="../../../assets/santosh-daruwala.jpg" alt="">
        </div>
        <div class="name">
            <span class="font">Dr.Soma</span>
        </div>
        <div class="name">
            <span class="font2">Dentist</span>
        </div>
        <div class="name">
            <img class="img" width="28px" height="28px" src="../../../assets/instagram.png" alt="">
            <img class="img" width="28px" height="28px" src="../../../assets/facebook.png" alt="">
            <img class="img" width="28px" height="28px" src="../../../assets/twitter.png" alt="">
        </div>
        <div class="name">
            <p class="font2">The Material Design specifications describe that toolbars can also have multiple rows</p>
        </div>
        <div class="name">
            <button class="button">View Profile</button>

        </div>

    </div>
</div>