<mat-toolbar class="toolbar">
    <span><input type="text" placeholder="search" class="search"></span>
    <div class="icon">
        <img  width="24px" height="24px" src="../../../assets/black.png" alt="">
        <img  width="24px" height="24px" src="../../../assets/profile.png" alt="">

    </div>
</mat-toolbar>
<div class="main">
    <div class="templete" *ngFor="let doc of doctor">
        <div>
            <img class="img2"  src={{doc.ImageSrc}} alt="">
        </div>
        <div class="name">
            <span class="font">{{doc.Dname}}</span>
        </div>
        <div class="name">
            <span class="font2">{{doc.Specialist}}</span>
        </div>
        <div class="name">
            <img class="img" width="28px" height="28px" src="../../../assets/instagram.png" alt="">
            <img class="img" width="28px" height="28px" src="../../../assets/facebook.png" alt="">
            <img class="img" width="28px" height="28px" src="../../../assets/twitter.png" alt="">
        </div>
        <div class="name">
            <p class="font2">{{doc.Discription}}</p>
        </div>
        <div class="name">
            <button class="button" (click)="openDialog(doc)">View Profile</button>

        </div>

    </div>

</div>